.header {
  padding: 24px 0 24px 24px;
  background: #1f1f21;
}

.header__title {
  font-family: var(--mainFont);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: left;
  color: #fff;
}
