* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

body {
  background: var(--bodyBackground);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #2c2d2d;
}

::-webkit-scrollbar-thumb {
  background-color: #545454;
  border-radius: 22px;
}

:root {
  --mainFont: 'Roboto', sans-serif;
  --headerBackground: #252627;
  --bodyBackground: #252627;
}
