/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main {
  background: var(--mainBackground);
  position: relative;
}
.container {
  width: min(100%, 1660px);
  margin: 0 auto;
  padding: 20px 0;
}
@media screen and (max-width: 1660px) {
  .container {
    padding: 20px 10px;
  }
}
.backdrop {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  background-color: #000000;
  z-index: 2;
  width: 100dvw;
  height: 100dvh;
  opacity: 0;
}

.backdropActive {
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.31;
}
